Django
psycopg2-binary
djangorestframework
django-crispy-forms
django-filter
Pillow
django-allauth
django-taggit
django-ckeditor
celery
django-celery-beat
django-celery-results
python-dateutil
django-cors-headers
gunicorn
whitenoise
python-dotenv
django-bootstrap5
django-colorfield
django-simple-history
django-widget-tweaks
redis 
crispy_bootstrap5
requests
markdown